* {
  box-sizing: border-box;
}

html {
	background-image: url(../images/bg/bg-a.jpg);
	background-size: cover;
	min-height: 100%;*/
}

body {
	margin: 0px;
	font-family: 'Poppins', Arial, sans-serif;
	font-size: 15px;
	margin-bottom: 40px;
}

a {
	color: #ffffff;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}

a:hover {
	color: #d8931c;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}

#header {
	width: 100%;
	padding: 0px;
	border-bottom: 1px solid #ffffff;
	margin: 0pc;
	background: #FFFFFF;
}

#header-inner {
	max-width: 980px;
	padding-top: 20px;
	padding-bottom: 20px;
	padding-left: 20px;
	padding-right: 20px;
	margin-left: auto;
	margin-right: auto;
	height: 100px;
}
#logo {
	float: left;
}
#buttons {
	float: right;
	text-align: right;
	padding-top: 20px;
	padding-bottom: 20px;
}

#container {
	max-width: 980px;
	padding-left: 10px;
	padding-right: 10px;
	margin-left: auto;
	margin-right: auto;
	height: 100%;
	margin-top: 0px;
}

#main-content {
	width: 100%;
	padding: 5px;
	text-align: left;
	vertical-align: middle;
	background: #b72a76;
	margin-bottom: 10px;
	margin-top: 30px;
}

#main-content-inner { 
	width: 100%;
	height: 100%;
	border: 1px solid #ffffff;
	padding: 30px;
	 }

#main-content h1 {
	color: white;
	font-size: 36px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 0px;

}
#main-content h2 {
	color: white;
	font-size: 20px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 0px;

}

#main-content h2.result-update {
	color: white;
	font-size: 20px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 0px;

}

.badge-earned {
	text-align: center;
}

#scoreboard {
	display: table;
	width: 100%;
	margin: 0px;
	padding: 0px;
}

.points-board {
	display: table-cell;
	margin: 0px;
	padding: 10px 10px 10px 10px;
	width: 20%;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-right: 0px;
	border-bottom: 0px;
	text-align: center;
	background-color: rgba(0,0,0,0.1);
}
.time-board {
	display: table-cell;
	margin: 0px;
	padding: 10px 10px 10px 10px;
	width: 20%;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-right: 0px;
	border-bottom: 0px;
	text-align: center;
	background-color: rgba(0,0,0,0.1);
}

.game-score-board {
	display: table-cell;
	margin: 0px;
	padding: 10px 10px 10px 10px;
	width: 20%;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-right: 0px;
	border-bottom: 0px;
	text-align: center;
	background-color: rgba(0,0,0,0.1);
}

.category-title-intro {
	display: block;
	margin-left: auto;
	margin-right: auto;
	width: 100%;
	height: 100%;
	padding: 0px 0px 20px 0px;
	text-align; center;
	vertical-align: top;
}

#main-content h1.welcome {
	color: white;
	font-size: 48px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 20px 0px 10px 0px;
	text-align: center;
	border-bottom: 1px solid #FFFFFF;
}

#main-content h1.category-title-intro-text {
	color: white;
	font-size: 48px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 20px 0px 10px 0px;
	text-align: center;
	border-bottom: 1px solid #FFFFFF;
}

#main-content h1.score{
	color: white;
	font-size: 36px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 0px;
	padding: 30px 0px 0px 0px;
	text-align: center;
	opacity: .7;
}

#main-content h2.category-title-intro-text {
	color: white;
	font-size: 24px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 10px;
	padding: 0px 0px 50px 0px;
	text-align: center;

	
}

.category-board {
	display: table-cell;
	margin: 0px;
	width: 40%;
	border-left: 1px solid #FFFFFF;
	border-top: 1px solid #FFFFFF;
	border-right: 1px solid #FFFFFF;
	border-bottom: 0px;
	text-align: center;
	vertical-align: middle;
	background-color: rgba(255,255,255,0.2);
}

.category-board h1 {
	margin: 0px;
	padding: 0px;
}

h3.board-title {
	margin: 0px;
	padding: 0px 0px 3px 0px;
	color: #FFFFFF;
	font-size: 16px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
}

h4.board-title-2 {
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	font-size: 24px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 300;color: #ffffff;

}

h3.category-name {
	margin: 0px;
	padding: 0px;
	margin: 0px;
	padding: 0px;
	color: #FFFFFF;
	font-size: 30px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 300;


}


#categories-holder {
	text-align: center;
	width: 100%;
	margin-top: 50px;

}

.category {
	display: inline-block;
	margin-left: 15px;
	margin-right: 15px;
}

.category-icon {
	height: 100px;

}

.category-icon-div {
	text-align: center;
	padding-top: 50px;

}

.category-results-div {
	text-align: center;
	padding-top: 0px;
	padding-bottom: 50px;
}

.faded {
	opacity: .60;

}

h3.category-label {
	color: white;
	font-size: 20px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 300;
	margin-top: 0px;
	margin-bottom: 20px;
	padding: 0px;

}

#intro {
	padding: 100px;
	text-align: center;
}

.question-holder {
	padding: 20px 50px 30px 70px;
	color: white;
	font-size: 20px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 100;
	text-align: center;
}

.question-check-holder {
	padding: 20px 0px 0px 70px;
	color: white;
	font-size: 20px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 100;
	margin: 0px;
}

.record-holder {
	padding: 15px 25px 15px 25px;
	color: white;
	font-size: 14px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 100;
	margin: 0px;
	display: table-cell;
	text-align: center;
	background-color: rgba(0,0,0,0.1);
	border: 1px solid #ffffff;
}

.record-correct-holder {
	margin-right: 20px;
	display: inline-block;
}

.record-incorrect-holder {
	display: inline-block;
}

.record-title {
	font-size: 16px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	border-bottom: 1px solid #ffffff;
}


.question-text {
	display: inline;
	font-size: 30px;
	font-family: 'Bitter', Arial, sans-serif;
	letter-spacing: .05em;
}

.dyk{
	color: rgba(255,255,255,0.6);
	display: inline;
	font-size: 36px;
}

.answer-holder {
	display: block;
	width: 100%;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding: 0px;
}

.answer-text-holder {
	padding: 0px 0px 10px 0px;
	color: white;
	font-size: 24px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 100;
}

.grade-holder {
	padding: 0px 0px 10px 0px;
	color: white;
	font-size: 40px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 100;
}

.points-holder {
	padding: 0px 0px 10px 0px;
	color: #FFFFFF;
	font-size: 28px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	font-weight: 100;
	opacity: .5;


}

#audioButtonHolder {
	display: inline-block;
}

.badges-earned-holder {
	text-align: center;
	margin-bottom: 20px;
}

img.earned-badge {
	margin-left: 5px;
	margin-right: 5px;
	height: 60px;
}

.answer {
	width: 300px;
	background-color: rgba(255,255,255,0.2);
	border: 1px solid #ffffff;
	color: #FFFFFF;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 10px;
	font-size: 20px;
	font-family: 'Arvo', Arial, sans-serif;
	font-style: normal;
	display: block;
	margin-left: auto;
	margin-right: auto;
	
}

button.answer:hover {
	background-color: rgba(255,255,255,0.4);


}

button.answer:active {
	background-color: rgba(0,0,0,0.2);


}

button.gameplay {
	font-family: 'Asap', Arial, sans-serif;
	background-color: rgba(255,255,255,0.2);
	color: #FFFFFF;
	font-size: 20px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border: 0px;
}

button.gameplay:hover {
	background-color: rgba(0,0,0,0.2);
	color: #FFFFFF;

}

button.gameplay:active {
	background-color: rgba(0,0,0,0.4);
	color: #FFFFFF;
	border: 1px solid #ffffff;

}

button.nav-button{
	font-family: 'Asap', Arial, sans-serif;
	background-color: rgba(180,180,180,0.4);
	color: #FFFFFF;
	font-size: 15px;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 15px;
	padding-right: 15px;
	border: 0px;
	margin-left: 20px;
}

button.nav-button:hover {
	background: #f7941d;
	color: #FFFFFF;

}

button.nav-button:active {
	background: #a30c38;
	color: #FFFFFF;
	border: 1px solid #ffffff;

}


#footer {
	width: 100%;
	border-top: 1px solid #ffffff;
	margin: 0px;
	padding-left: 10px;
	padding-right: 10px;
	height: 40px;
	position: fixed;
	bottom: 0;
	left: 0;
}
#footer-inner {
	width: 960px;
	text-align: center;
	margin-left: auto;
	margin-right: auto;
	padding-top: 0px;
	padding-bottom: 10px;
	font-family: 'Asap', Arial, sans-serif;
	color: #450b49;
	font-size: 12px;

}

#footer a {
	color: #450b49;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}

#footer a:hover {
	color: #d8931c;
	font-style: none;
	font-variant: none;
	text-decoration: none;
}

.white {
	color: #ffffff;
}

.small {
	font-size: 5px;
}



@media screen and (max-width: 768px) {
	
}